.header {
    background: url(../images/bg.png) top center no-repeat;
    background-size: contain;
    padding: 20px 0 208px 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 84px;
}

.header__menu-items {
    display: flex;
    justify-content: space-between;
}

.header__menu-item {
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}

.header__menu-item:not(:last-of-type) {
    margin: 0 60px 0 0;
}

.header__menu-item:hover {
    color: #4ac7e9;
}




.header__title {
    font-size: 67px;
    line-height: 1;
    margin: 108px 0 0 0;
}

.header__subtitle {
    font-size: 48px;
    line-height: 1;
    font-weight: 600;
    margin: 18px 0 0 0;
}


.header__intro-text {
    color: #a0a0a0;
    font-size: 21px;
    line-height: 1.2;
    margin: 16px 0 0 0;
}






@media screen and (max-width: 1365px) {
    
}


@media screen and (max-width: 800px) {
    .header {
        background: url(../images/bg.png) top right no-repeat;
        padding: 20px 0 12px 0;
    }
    
    .header__logo {
        width: 52px;
    }

    .header__menu-item {
        font-size: 12px;
    }

    .header__menu-item:not(:last-of-type) {
        margin: 0 16px 0 0;
    } 

    .header__title {
        font-size: 30px;
        margin: 400px 0 0 0;
    }
    
    .header__subtitle {
        font-size: 30px;
        margin: 12px 0 0 0;
    }
    
    
    .header__intro-text {
        font-size: 14px;
        margin: 32px 0 0 0;
    }
}


@media screen and (max-width: 600px)  {
    .header {
        background: url(../images/bg-mob.png) top center no-repeat;
        background-size: contain;
    }
}