.page-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#00caf0, #006578);
    color: #0f1010;
    font-size: 26px;
    line-height: 1;
    width: 200px;
    height: 60px;
    border-radius: 81px;
    text-decoration: none;
    margin: 56px 0 0 0;
    transition: all .3s;
}

.page-button:hover {
    opacity: .7;
}

@media screen and (max-width: 800px) {
    .page-button {
        font-size: 16px;
        width: 124px;
        height: 36px;
        margin: 32px 0 0 0;
    }
}