@font-face {
    font-family: 'WarHelios'; 
    src: url(./WarHeliosCondC.ttf);
    font-weight: 400; 
}

@font-face {
    font-family: 'WarHelios'; 
    src: url(./WarHeliosCondCBold.ttf); 
    font-weight: 600;
}